# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.VTOLVR-ModLoader.iml
# Datasource local storage ignored files
/../../../../../../../:\code\private\ModLoader\.idea\.idea.VTOLVR-ModLoader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
